


#wrapper {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#wrapper #articles {
    float: left;
    width: 77%;
    margin-left: 290px;
}

#wrapper #articles article {
    float: left;
    width: 31.33%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: azure;
    margin-right: 2%;
    min-height: 400px;
}

#wrapper #articles article img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

#wrapper #articles article h2 {
    width: 90%;
    height: 30px;
    color: #4a4a1a;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 5%;
}

#wrapper #articles article h2 {
    width: 80%;
    text-indent: 1em;
    margin-left: 10%;
}

#wrapper #articles article p {
    width: 80%;
    text-indent: 1.1em;
    margin-left: 9%;
}

#wrapper #articles article a {
    padding: 5px;
    float: left;
    color: #fff;
    border-radius: 5px;
    background-color: #eb6b6b;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 4px;
}

#wrapper #articles article a:hover {
    background-color: #7fe6b;
}

/* Для статей(анонсов) */

#f_article {
    float: left;
    width: 97%;
    margin-top: 11px;
    background-color: azure;
    border-radius: 10px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#f_article #articles {
    float: left;
    width: 87%;
    margin-left: 5px;
    padding: 1%;
}

#f_article #articles article {
    float: right;
    width: 31.33%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fafafa;
    margin-right: 2%;
    padding: 1%;
}

#f_article article p {
    font-size: xx-large;
}